Baumann/ex2/PhysicalValues-1-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                                                                                     -->
<!-- This file belongs to a first specification for the KWPT data interface              -->
<!-- Mathematical modelling, simulation, and optimization in the context of gas networks -->
<!--                                                                                     -->
<!-- Copyright (C) 17.11.2016                                                            -->
<!-- Developed by: Zuse Institute Berlin                                                 -->
<!-- Contact: Thorsten Koch (koch@zib.de)                                                -->
<!-- All rights reserved.                                                                -->
<!--                                                                                     -->
<!-- Author: Oliver Kunst, Robert Schwarz                                                -->
<!--                                                                                     -->
<!-- Based on the Gaslib developed by:                                                   -->
<!-- FAU Erlangen-Nuremberg, HU Berlin, LU Hannover, TU Darmstadt,                       -->
<!-- University Duisburg-Essen, WIAS Berlin, Zuse Institute Berlin                       -->
<!-- Contact: Thorsten Koch (koch@zib.de)                                                -->
<!-- All rights reserved.                                                                -->
<!--                                                                                     -->
<!--                                                                                     -->
<!--                         Please note that you have to cite                           -->
<!-- Pfetsch et al. (2012) "Validation of Nominations in Gas Network Optimization:       -->
<!-- Models, Methods, and Solutions", ZIB-Report 12-41                                   -->
<!--                               if you use this data                                  -->
<!--                                                                                     -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<xsd:schema xmlns:framework="http://gaslab.zib.de/Framework" xmlns="http://gaslab.zib.de/Framework"
	elementFormDefault="qualified" targetNamespace="http://gaslab.zib.de/Framework"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.1.0">

	<xsd:annotation>
		<xsd:documentation xml:lang="EN"> Within this XML Schema basic physical values are
      described. A physical value is defined by its unit and a value.  </xsd:documentation>
	</xsd:annotation>

	<!-- the abstract unit type declaration -->
	<xsd:element name="unit" type="framework:unitType">
		<xsd:annotation>
			<xsd:documentation> An (abstract) physical unit </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="unitType">
		<xsd:annotation>
			<xsd:documentation>
				The base for all unit types.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="value" type="xsd:double" use="required">
			<xsd:annotation>
				<xsd:documentation> The value. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

	</xsd:complexType>

	<!-- the abstract range type -->
	<xsd:element name="range" type="framework:rangeType">
		<xsd:annotation>
			<xsd:documentation> An (abstract) physical range with unit </xsd:documentation>
		</xsd:annotation>

	</xsd:element>
	<xsd:complexType name="rangeType">
		<xsd:annotation>
			<xsd:documentation>
				A range type defining lower and upper limits.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="lower" type="xsd:double" use="required">
			<xsd:annotation>
				<xsd:documentation> Lower limit. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="upper" type="xsd:double" use="required">
			<xsd:annotation>
				<xsd:documentation> Upper limit. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>


	<xsd:element name="height" type="framework:lengthType">
		<xsd:annotation>
			<xsd:documentation> A height indication. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="length" type="framework:lengthType">
		<xsd:annotation>
			<xsd:documentation> A length specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="mass" type="framework:massType">
		<xsd:annotation>
			<xsd:documentation> An indication of mass. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="diameter" type="framework:lengthType">
		<xsd:annotation>
			<xsd:documentation> A diameter specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="radius" type="framework:lengthType">
		<xsd:annotation>
			<xsd:documentation> A radius specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="roughness" type="framework:lengthType">
		<xsd:annotation>
			<xsd:documentation> A roughness specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="temperature" type="framework:temperatureType">
		<xsd:annotation>
			<xsd:documentation>  A temperature specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="pressure" type="framework:pressureType">
		<xsd:annotation>
			<xsd:documentation> A pressure specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="flow" type="framework:flowType">
		<xsd:annotation>
			<xsd:documentation> A flow specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="power" type="framework:powerType">
		<xsd:annotation>
			<xsd:documentation> A power specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="density" type="framework:densityType">
		<xsd:annotation>
			<xsd:documentation> A density specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="velocity" type="framework:velocityType">
		<xsd:annotation>
			<xsd:documentation> A velocity specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="area" type="framework:areaType">
		<xsd:annotation>
			<xsd:documentation> An area specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="volume" type="framework:volumeType">
		<xsd:annotation>
			<xsd:documentation> A volume specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="electricalCurrent" type="framework:electricalCurrentType">
		<xsd:annotation>
			<xsd:documentation> An electric current specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="amountOfSubstance" type="framework:amountOfSubstanceType">
		<xsd:annotation>
			<xsd:documentation> An amount of substance specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="luminousIntensity" type="framework:luminousIntensityType">
		<xsd:annotation>
			<xsd:documentation> A luminous intensity specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="lengthType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Length type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:lengthUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A length unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="massType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Mass type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:massUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A mass unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="timeType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Time type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:timeUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A time unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="electricalCurrentType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Electrical current type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:electricalCurrentUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> An electric current unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="temperatureType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Temperature type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:temperatureUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A temperature unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="amountOfSubstanceType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Amount of substance type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:amountOfSubstanceUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> An amount of substance unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="luminousIntensityType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Luminous intensity type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:luminousIntensityUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A luminous intensity unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- An energy type -->
	<xsd:complexType name="energyType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Energy type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:energyUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> An energy unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<!-- pressure value and range definition -->
	<xsd:complexType name="pressureType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Pressure type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:pressureUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A pressure unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="pressureRange" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Pressure range. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:rangeType">
				<xsd:attribute name="unit" type="framework:pressureUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A pressure unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<!-- pressure differential type and range -->
	<xsd:complexType name="pressureDifferenceType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Pressure difference type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:pressureDifferenceUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A pressure difference unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pressureDifferenceRange" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Pressure difference type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:pressureDifferenceUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A pressure difference unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="lower" type="xsd:double" use="required">
					<xsd:annotation>
						<xsd:documentation> Lower pressure differential limit. </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="upper" type="xsd:double" use="required">
					<xsd:annotation>
						<xsd:documentation> Upper pressure differential limit. </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- flow type and range -->
	<xsd:complexType name="flowType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Flow type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:flowUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A flow unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="flowRange" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Flow type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:rangeType">
				<xsd:attribute name="unit" type="framework:flowUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A flow unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="powerType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Power type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:powerUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A power unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="densityType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Density type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:densityUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A density unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="velocityType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Velocity type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:velocityUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A velocity unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="velocityRange" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Velocity range. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:rangeType">
				<xsd:attribute name="unit" type="framework:velocityUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A velocity unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="areaType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Area type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:areaUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> An area unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="volumeType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Volume type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:volumeUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A volume unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="heatTransferType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Heat transfer type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:heatTransferUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A heat transfer unit (no default). </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="heatCoefficientAType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Type for heat coefficient A. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:heatCoefficientAUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> The heat coefficient unit.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="heatCoefficientBType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Type for heat coefficient B. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:heatCoefficientBUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> The heat coefficient unit.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="heatCoefficientCType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Type for heat coefficient C. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:heatCoefficientCUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> The heat coefficient unit.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="dynamicViscosityType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Type for heat coefficient C. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:dynamicViscosityUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> The dynamic viscosity unit.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="relativeHumidityType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Type for relative humidity </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:ratioUnit" use="required">
					<xsd:annotation>
						<xsd:documentation>  A unit for the ratio. </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="calorificValueType">
		<xsd:annotation>
			<xsd:documentation> calorificValueType defines the calorific value of the gas.
      </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="calorificValueUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> unit is the unit of the calorific value of the gas. Unit is
              specified by type (no default).</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="stateType">
		<xsd:annotation>
			<xsd:documentation> Discrete state type. </xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="value" type="framework:onOffPattern" use="required">
			<xsd:annotation>
				<xsd:documentation> Discrete state. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="frequencyType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> speed type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:frequencyUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> A frequency unit. (no default) </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="cloudinessType">
		<xsd:annotation>
			<xsd:documentation>
				A type to describe the cloud cover in weather data.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute name="unit" type="framework:cloudinessUnit" use="required">
					<xsd:annotation>
						<xsd:documentation>
							A cloudiness unit.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="noTypeRange" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Pressure range. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:rangeType"/>

		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="noType" mixed="false">
		<xsd:annotation>
			<xsd:documentation> Unitless type. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="framework:unitType"/>

		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="pressureUnit">
		<xsd:annotation>
			<xsd:documentation> Units of pressure. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bar"/>
			<xsd:enumeration value="barg"/>
			<xsd:enumeration value="Pa"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="pressureDifferenceUnit">
		<xsd:annotation>
			<xsd:documentation> Units of pressure. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bar"/>
			<xsd:enumeration value="Pa"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="flowUnit">
		<xsd:annotation>
			<xsd:documentation> Units of flow. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m_cube_per_s"/>
			<xsd:enumeration value="m_cube_per_hour"/>
			<xsd:enumeration value="1000m_cube_per_hour"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="temperatureUnit">
		<xsd:annotation>
			<xsd:documentation> Units of temperature. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Celsius"/>
			<xsd:enumeration value="K"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="lengthUnit">
		<xsd:annotation>
			<xsd:documentation> Units of length. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mm"/>
			<xsd:enumeration value="cm"/>
			<xsd:enumeration value="m"/>
			<xsd:enumeration value="km"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="areaUnit">
		<xsd:annotation>
			<xsd:documentation> Units of area. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mm_square"/>
			<xsd:enumeration value="cm_square"/>
			<xsd:enumeration value="m_square"/>
			<xsd:enumeration value="km_square"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="volumeUnit">
		<xsd:annotation>
			<xsd:documentation> Units of volume. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mm_cube"/>
			<xsd:enumeration value="cm_cube"/>
			<xsd:enumeration value="m_cube"/>
			<xsd:enumeration value="km_cube"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="heatTransferUnit">
		<xsd:annotation>
			<xsd:documentation> Units of heat transfer. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="W_per_m_square_per_K"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="energyUnit">
		<xsd:annotation>
			<xsd:documentation> Units of energy. Especially for storage </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kWh">
				<xsd:annotation>
					<xsd:documentation> Kilowatt hour. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MWh">
				<xsd:annotation>
					<xsd:documentation> Megawatt hour. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GWh">
				<xsd:annotation>
					<xsd:documentation> Gigawatt hour. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="powerUnit">
		<xsd:annotation>
			<xsd:documentation> Units of power. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="W">
				<xsd:annotation>
					<xsd:documentation> Watt. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="kW">
				<xsd:annotation>
					<xsd:documentation> Kilowatt. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MW">
				<xsd:annotation>
					<xsd:documentation> Megawatt. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GW">
				<xsd:annotation>
					<xsd:documentation> Gigawatt. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="mW">
				<xsd:annotation>
					<xsd:documentation> Milliwatt. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="frequencyUnit">
		<xsd:annotation>
			<xsd:documentation> Units of frequency. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="per_min">
				<xsd:annotation>
					<xsd:documentation> 1/min. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="hz">
				<xsd:annotation>
					<xsd:documentation> Hertz  - 1/s. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="densityUnit">
		<xsd:annotation>
			<xsd:documentation> Units of density. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kg_per_m_cube">
				<xsd:annotation>
					<xsd:documentation> Kilogram per cubic meter. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="velocityUnit">
		<xsd:annotation>
			<xsd:documentation> Units of velocity. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m_per_s">
				<xsd:annotation>
					<xsd:documentation> Meter per second. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="km_per_hour">
				<xsd:annotation>
					<xsd:documentation> Kilometers per hour. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="timeUnit">
		<xsd:annotation>
			<xsd:documentation> Units of time. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="s">
				<xsd:annotation>
					<xsd:documentation> Second. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="min">
				<xsd:annotation>
					<xsd:documentation> Minute. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="hour">
				<xsd:annotation>
					<xsd:documentation> Hour. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="day">
				<xsd:annotation>
					<xsd:documentation> Day. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="electricalCurrentUnit">
		<xsd:annotation>
			<xsd:documentation> Units of electrical current. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation> Ampere. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="mA">
				<xsd:annotation>
					<xsd:documentation> Milliampere. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="kA">
				<xsd:annotation>
					<xsd:documentation> Kiloampere. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="massUnit">
		<xsd:annotation>
			<xsd:documentation> Units of mass. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kg">
				<xsd:annotation>
					<xsd:documentation> Kilogram. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="g">
				<xsd:annotation>
					<xsd:documentation> Gram. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="mg">
				<xsd:annotation>
					<xsd:documentation> Milligram. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="amountOfSubstanceUnit">
		<xsd:annotation>
			<xsd:documentation> Units of amount of substance. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mol">
				<xsd:annotation>
					<xsd:documentation> Mol. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="luminousIntensityUnit">
		<xsd:annotation>
			<xsd:documentation> Units of luminous intensity. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cd">
				<xsd:annotation>
					<xsd:documentation> Candela. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="gasPriceUnit">
		<xsd:annotation>
			<xsd:documentation>The gas price. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EUR_Cent_per_kWh">
				<xsd:annotation>
					<xsd:documentation>Euro cent per kWh.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="calorificValueUnit">
		<xsd:annotation>
			<xsd:documentation> Possible units for the calorific value.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MJ_per_m_cube"/>
			<xsd:enumeration value="kWh_per_m_cube"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="kg_per_kmolUnit">
		<xsd:annotation>
			<xsd:documentation> kg_per_kmolUnit subsumes units with kilo gram per kilo Mol.
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kg_per_kmol"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="heatCoefficientAUnit">
		<xsd:annotation>
			<xsd:documentation> The unit of the linear part in the polynomial representation.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="J_per_mol_K"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="heatCoefficientBUnit">
		<xsd:annotation>
			<xsd:documentation> The unit of the squared part in the polynomial representation.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="J_per_mol_K_square"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="heatCoefficientCUnit">
		<xsd:annotation>
			<xsd:documentation> The unit of the cubical part in the polynomial representation.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="J_per_mol_K_cube"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="dynamicViscosityUnit">
		<xsd:annotation>
			<xsd:documentation> The unit of the dynamic viscosity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kg_per_m_s">
				<xsd:annotation>
					<xsd:documentation>
						The standard unit for dynamic viscosity.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ratioUnit">
		<xsd:annotation>
			<xsd:documentation> A unit for ratios.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="one">
				<xsd:annotation>
					<xsd:documentation>
						no unit.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="percent">
				<xsd:annotation>
					<xsd:documentation>
						Ratio in percent.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="cloudinessUnit">
		<xsd:annotation>
			<xsd:documentation> Eighths is the typical meteorological unit for the cloud cover.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="eighths"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="float">
		<xsd:annotation>
			<xsd:documentation> Floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float"/>
	</xsd:simpleType>
	<xsd:simpleType name="nonNegativeFloat">
		<xsd:annotation>
			<xsd:documentation> Non-negative floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nonPositiveFloat">
		<xsd:annotation>
			<xsd:documentation> Non-positive floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:maxInclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positiveFloat">
		<xsd:annotation>
			<xsd:documentation> Positive floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:minExclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="negativeFloat">
		<xsd:annotation>
			<xsd:documentation> Negative floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:maxExclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="double">
		<xsd:annotation>
			<xsd:documentation> Double precision floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double"/>
	</xsd:simpleType>
	<xsd:simpleType name="nonNegativeDouble">
		<xsd:annotation>
			<xsd:documentation> Non-negative double precision floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nonPositiveDouble">
		<xsd:annotation>
			<xsd:documentation> Non-positive double precision floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:maxInclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positiveDouble">
		<xsd:annotation>
			<xsd:documentation> Positive double precision floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:minExclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="negativeDouble">
		<xsd:annotation>
			<xsd:documentation> Negative double precision floating point number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:maxExclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="zero2OneDouble">
		<xsd:annotation>
			<xsd:documentation> Double precision floating point number in the interval [0,1]. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="1.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integer">
		<xsd:annotation>
			<xsd:documentation> Integer number </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="integerList">
		<xsd:annotation>
			<xsd:documentation> List of integer numbers. </xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation> Non-negative integer number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nonPositiveInteger">
		<xsd:annotation>
			<xsd:documentation> Non-positive integer number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positiveInteger">
		<xsd:annotation>
			<xsd:documentation> Positive integer number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="negativeInteger">
		<xsd:annotation>
			<xsd:documentation> Negative integer number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:maxExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="decimal">
		<xsd:annotation>
			<xsd:documentation> Decimal number. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="boolean">
		<xsd:annotation>
			<xsd:documentation> Boolean value. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="string">
		<xsd:annotation>
			<xsd:documentation> String value. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="byte">
		<xsd:annotation>
			<xsd:documentation> Byte value. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte"/>
	</xsd:simpleType>
	<xsd:simpleType name="date">
		<xsd:annotation>
			<xsd:documentation> Date value. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="onOffPattern">
		<xsd:annotation>
			<xsd:documentation> Either 'on' or 'off'. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="on"/>
			<xsd:enumeration value="off"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="molarMassType">
		<xsd:annotation>
			<xsd:documentation> molarMassType defines the molar mass of the gas. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="unitType">
				<xsd:attribute name="unit" type="kg_per_kmolUnit" use="required">
					<xsd:annotation>
						<xsd:documentation> unit is the unit of the molar mass of the gas. Unit is specified by
              type. (no default) </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="gasDayType">
		<xsd:annotation>
			<xsd:documentation>
				The basic type to describe a gas day.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="date" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>
					The date of the gas day.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="gasDayLengthInHours" use="required" type="gasDayLengthInHoursType">
			<xsd:annotation>
				<xsd:documentation>
					The length of the gas day. Usually this will be 24 hours. But due to daylight saving it could be 23 or 25 hours. 
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		
		<xsd:attribute name="gasDayStartHourInUTC" use="required" type="gasDayStartHourInUtcType">
			<xsd:annotation>
				<xsd:documentation>The hour in UTC time when the gas day begins.
					In winter time it's 5 o'clock and during daylight saving 4 o'clock.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:simpleType name="gasDayStartHourInUtcType">
		<xsd:annotation>
			<xsd:documentation>The possible hours in UTC time when the gas day begins.
				In winter time it's 5 o'clock and during daylight saving 4 o'clock.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="gasDayLengthInHoursType">
		<xsd:annotation>
			<xsd:documentation>
				The type to represent the length of the gas day. The length varies between 23 and 25 hours due to daylight saving.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="23"/>
			<xsd:maxInclusive value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>

