Baumann/ex2/prognosis-1-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                                                                                     -->
<!-- This file belongs to a first specification for the KWPT data interface              -->
<!-- Mathematical modelling, simulation, and optimization in the context of gas networks -->
<!--                                                                                     -->
<!-- Copyright (C) 17.11.2016                                                            -->
<!-- Developed by: Zuse Institute Berlin                                                 -->
<!-- Contact: Thorsten Koch (koch@zib.de)                                                --> 
<!-- All rights reserved.                                                                -->
<!--                                                                                     -->
<!-- Author: Oliver Kunst                                                                -->
<!--                                                                                     -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:framework="http://gaslab.zib.de/Framework" xmlns="http://gaslab.zib.de/kwpt/prognosis"
  targetNamespace="http://gaslab.zib.de/kwpt/prognosis" version="1.1.0">


  <xs:import namespace="http://gaslab.zib.de/Framework" schemaLocation="Framework-1-1-0.xsd"/>

  <xs:element name="prognosis">
    <xs:annotation>
      <xs:documentation>The prognosis file contains hourly prognosed values for boundary objects from a given beginning time. A boundary object is either a boundary node or a sibling.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="framework:rootBaseType">
          <xs:sequence>
            <xs:choice>
              <xs:annotation>
                <xs:documentation>
                  The entries of the choice field have not to be confused with the source attribute of the root element.
                  The root element's source is the source resp. creator of the XML file, e.g. the "OAD server" converting the data from the source "Kassandra".
                </xs:documentation>
              </xs:annotation>
              <xs:element ref="source"/>
              <xs:element ref="thirdParty"/>
            </xs:choice>
            <xs:element name="gasDay" type="framework:gasDayType">
              <xs:annotation>
                <xs:documentation>Basic information to the gas day being prognosed
                  This xml format is intended to be used to exchange prognosis data from and to phil.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="prognosisStart"/>
            <xs:element ref="kwptControlResource" minOccurs="0"/>
            <xs:element ref="boundaryObjects"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="source">
    <xs:annotation>
      <xs:documentation>
        One of the common data sources, its name and its version.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Kassandra">
              <xs:annotation>
                <xs:documentation>
                  The prognosis from KWPT.
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DAISY">
              <xs:annotation>
                <xs:documentation>
                  The prognosis from DAISY.
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="boundaryValueScenario">
              <xs:annotation>
                <xs:documentation>
                  A boundary value scenario generated by Phil.
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="manuallyGenerated">
              <xs:annotation>
                <xs:documentation>
                  A manually generated prognosis for testing purposes.
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="version" use="required" type="sourceSoftwareVersion">
        <xs:annotation>
          <xs:documentation>
            The Version of the used tool as unformatted string.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="thirdParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="description" minOccurs="0">
          <xs:annotation>
            <xs:documentation>An optional description of the source system or content.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="4096"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="version" use="required" type="sourceSoftwareVersion">
        <xs:annotation>
          <xs:documentation>
            The Version of the used tool as unformatted string.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="sourceSoftwareVersion">
    <xs:annotation>
      <xs:documentation>A restricted string to represent the version of the software used to generate the prognosis file.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="creationTime">
    <xs:complexType>
      <xs:attribute name="value" type="xs:dateTime" use="required">
        <xs:annotation>
          <xs:documentation>
            The creation time of the file in UTC.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="prognosisStart">
    <xs:annotation>
      <xs:documentation>
        The beginning time of the prognosis in UTC.
        At least this is the start time of the prior gas day, at most end of gas day minus one hour.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="time" type="xs:dateTime" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="kwptControlResource" type="framework:kwptControlResourceType">
    <xs:annotation>
      <xs:documentation>
        If this prognosis returned by KWPT, this referes to the control resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="boundaryObjects">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          A list of boundary object with prognosed values.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="boundaryObject" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="boundaryObject">
    <xs:annotation>
      <xs:documentation>
        Prognosed data for a single boundary node.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="prognosedValues" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="framework:ambiguousIdentifier" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="prognosedValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="amountOfPower"/>
        <xs:element ref="pressure" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="hour" use="required">
        <xs:annotation>
          <xs:documentation>
            The hour from prognosis start (hour 1) up to 49 hours.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="predefinedValuesType">
    <xs:annotation>
      <xs:documentation>
        Contains information on whether the prognosis has been overridden by the nomination input values.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="noPreset">
        <xs:annotation>
          <xs:documentation>
            The value was not fixed externally.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fixed">
        <xs:annotation>
          <xs:documentation>
            The value was fixed externally. 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prognostic">
        <xs:annotation>
          <xs:documentation>
            The prognosed value was fixed externally, but it can be altered by the game.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="processedInformationType">
    <xs:annotation>
      <xs:documentation>
        A basic type to store processing information.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="amountOfPowerType">
    <xs:complexContent>
      <xs:extension base="framework:powerType">
        <xs:attribute name="predefined" use="required" type="predefinedValuesType">
          <xs:annotation>
            <xs:documentation>
              This field contains information about the usage as a test case.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>

        <xs:attribute name="processed" use="required" type="processedInformationType">
          <xs:annotation>
            <xs:documentation>
              This field can contain information about any post-processing of the prognostic data.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>



  <xs:element name="amountOfPower" type="amountOfPowerType">
    <xs:annotation>
      <xs:documentation>The amount of power prognosed with additional prognosis specific parameters.</xs:documentation>
    </xs:annotation>
  </xs:element>


  <xs:complexType name="prognosticPressureType">
    <xs:complexContent>
      <xs:extension base="framework:pressureType">
        <xs:attribute name="predefined" use="required" type="predefinedValuesType">
          <xs:annotation>
            <xs:documentation>
              Contains information on whether the prognosis has been overridden by the "measured" values.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="processed" use="required" type="processedInformationType">
          <xs:annotation>
            <xs:documentation>
              This field can contain information about any post-processing of the prognostic data.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="pressure" type="prognosticPressureType">
    <xs:annotation>
      <xs:documentation>The pressure prognosed with additional prognosis specific parameters.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>

