exercise_2/Framework-1-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                                                                                     -->
<!-- This file belongs to a first specification for the KWPT data interface              -->
<!-- Mathematical modelling, simulation, and optimization in the context of gas networks -->
<!--                                                                                     -->
<!-- Copyright (C) 17.11.2016                                                             -->
<!-- Developed by: Zuse Institute Berlin                                                 -->
<!-- Contact: Thorsten Koch (koch@zib.de)                                                -->
<!-- All rights reserved.                                                                -->
<!--                                                                                     -->
<!-- Author: Oliver Kunst                                                                -->
<!--                                                                                     -->
<!-- Based on the Gaslib developed by:                                                   -->
<!-- FAU Erlangen-Nuremberg, HU Berlin, LU Hannover, TU Darmstadt,                       -->
<!-- University Duisburg-Essen, WIAS Berlin, Zuse Institute Berlin                       -->
<!-- Contact: Thorsten Koch (koch@zib.de)                                                -->
<!-- All rights reserved.                                                                -->
<!--                                                                                     -->
<!--                                                                                     -->
<!--                         Please note that you have to cite                           -->
<!-- Pfetsch et al. (2012) "Validation of Nominations in Gas Network Optimization:       -->
<!-- Models, Methods, and Solutions", ZIB-Report 12-41                                   -->
<!--                               if you use this data                                  -->
<!--                                                                                     -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


<xsd:schema xmlns="http://gaslab.zib.de/Framework" targetNamespace="http://gaslab.zib.de/Framework"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.1.0">

  <xsd:annotation>
    <xsd:documentation> Base XML-schema. </xsd:documentation>
  </xsd:annotation>

  <xsd:include schemaLocation="Topology-1-1-0.xsd">
    <xsd:annotation>
      <xsd:documentation> Includes an XML Schema file, where the underlaying network topology has
        been described. </xsd:documentation>
    </xsd:annotation>
  </xsd:include>

  <xsd:include schemaLocation="PhysicalValues-1-1-0.xsd">
    <xsd:annotation>
      <xsd:documentation> Includes an XML Schema file, where physical values and units have been
        defined. Please note that physical value elements are partially implemented as special
        instances of elements described in the topology schema. Hence, Topology.xsd must be included
        BEFORE PhysicalValues.xsd. </xsd:documentation>
    </xsd:annotation>
  </xsd:include>

  <xsd:complexType name="rootBaseType">
    <xsd:attribute name="interfaceVersion" use="required" type="interfaceVersionType" >
      <xsd:annotation>
        <xsd:documentation>The interface version used. Only the version of this interface is allowed.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <!-- <xsd:attribute name="validity" use="required" type="xsd:dateTime" >
      <xsd:annotation>
        <xsd:documentation>The time of validity. This is the time when the data was gathered.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute> -->
    <xsd:attribute name="source" use="required" type="sourceType">
      <xsd:annotation>
        <xsd:documentation>The source system, which created this file (Program name and version).</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>            
  </xsd:complexType>

  <xsd:simpleType name="resourceNameType">
    <xsd:annotation>
      <xsd:documentation>
        The resource's name type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="64"/>
      <xsd:pattern value="[a-zA-Z0-9_.-]{1,32}"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="md5Type">
    <xsd:annotation>
      <xsd:documentation>
        The type for the md5 sum of the resource.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-fA-F0-9]{32}"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="schemaNameType">
    <xsd:annotation>
      <xsd:documentation>
        The name of the underlying schema, e.g. "net-1-1-0".
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-zA-Z]{1,20}(-[0-9]-[0-9]-[0-9]){0,1}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="sourceType">
    <xsd:annotation>
      <xsd:documentation>The type for the attribute source. Source contains usually the program name and version of the creating source.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="256" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="interfaceVersionType">
    <xsd:annotation>
      <xsd:documentation>
        The version supported by this interface.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="1\.1\.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="errorCodeType">
    <xsd:annotation>
      <xsd:documentation>
        The type for error codes.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{1,8}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="errorWarningType">
    <xsd:sequence>
      <xsd:element ref="resource" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            If the error was traced back to an input resource it is prompted here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="message" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The error/warning message.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="code" type="errorCodeType" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The error/warning code, presumably a number.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  <xsd:simpleType name="locationType">
    <xsd:annotation>
      <xsd:documentation>
        A bounded string for the location information.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1000" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="powerplantNameType">
    <xsd:annotation>
      <xsd:documentation>
        A type corresponding to the structure of Punktnamen
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-zA-Z0-9_-]{1,15}"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  
  <xsd:element name="resource">
    <xsd:annotation>
      <xsd:documentation>
        Further information to the file, where the error/warning occured.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="resourceType">
          <xsd:attribute name="linenumber" type="xsd:int" use="required">
            <xsd:annotation>
              <xsd:documentation>
                The line number.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>          
          <xsd:attribute name="column" type="xsd:int" use="optional">
            <xsd:annotation>
              <xsd:documentation>
                An optional column number.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>          
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <!-- resource type definitions -->
  <xsd:complexType name="resourceType">
    <xsd:annotation>
      <xsd:documentation>
        The basic resource type. This replaces the file type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="name" use="required" type="resourceNameType" />
    
    <xsd:attribute name="md5" use="required" type="md5Type" />
    
    <xsd:attribute name="schema" type="schemaNameType" use="required">
      <xsd:annotation>
        <xsd:documentation>
          A generic schema name.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
  </xsd:complexType>
  
  
  <xsd:complexType name="netResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The net resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="net-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  <xsd:complexType name="stateResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The state resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="state-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  

  <xsd:complexType name="transientResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The transient resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="transient-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  
  <xsd:complexType name="bookablesResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The bookables resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="bookables-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  
  <xsd:complexType name="capacitiesResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The capacities resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="capacities-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  
  <xsd:complexType name="heuristicsResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The heuristics resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="heuristics-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  <xsd:complexType name="subnetResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The subnet resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="subnet-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  <xsd:complexType name="kwptStationsResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The KWPT stations resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="kwptstations-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  
  <xsd:complexType name="nominationsResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The nominations resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="nominations-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  <xsd:complexType name="weatherResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The weather resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="weather-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  
  <xsd:complexType name="gweatherResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The gweather resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="gweather-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  <xsd:complexType name="externResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The extern resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="extern-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  <xsd:complexType name="kwptControlResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The KWPT control resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="kwptcontrol-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
 
  
  <xsd:complexType name="resultsResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The result resource type, which refers to all result files.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="results-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>

  <xsd:complexType name="philResultsResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The heuristic result resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="philresults-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  <xsd:complexType name="blobResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The blob resource type. In the blob phil internal data is stored, e.g. after a prognosis training.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="blob-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  

  <xsd:complexType name="logResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The log resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="log-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>

  <xsd:complexType name="missingResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The log resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="missing-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
  
  <xsd:complexType name="prognosisResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The prognosis resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="prognosis-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>

  <xsd:complexType name="measuredResourceType">
    <xsd:annotation>
      <xsd:documentation>
        The measured resource type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="resourceType">
        <xsd:attribute name="name" use="required" type="resourceNameType" />        
        <xsd:attribute name="md5" use="required" type="md5Type" />
        
        <xsd:attribute name="schema" use="required">
          <xsd:simpleType>
            <xsd:restriction base="schemaNameType">
              <xsd:pattern value="measured-1-1-0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        
      </xsd:restriction>
    </xsd:complexContent>  
  </xsd:complexType>
  
</xsd:schema>
